// <room_name.c

#include <citro2d.h>
#include "game.h"
#include "room_<room_name>.h"
#include "gfx_<room_name>.h"
#include "inventory.h"

static C2D_SpriteSheet room_scene;
static C2D_Image img_background;

static Hotspot hotspots[] = {};

static void room_init(void) {
    room_scene = C2D_SpriteSheetLoad("romfs:/gfx/gfx_<room_name>.t3x");
    img_background = C2D_SpriteSheetGetImage(room_scene, gfx_<room_name>_bg_idx);
}

static void room_draw(void) {
    C2D_DrawImageAt(img_background, 0.0f, 0.0f, 0.0f, NULL, 1.0f, 1.0f);
}

static void room_close(void) {
    C2D_SpriteSheetFree(room_scene);
}

Room <room_name> = {
    .hotspots = hotspots,
    .hotspot_count = sizeof(hotspots) / sizeof(hotspots[0]),
    .north = NULL,
    .northeast = NULL,
    .east = NULL,
    .southeast = NULL,
    .south = NULL,
    .southwest = NULL,
    .west = NULL,
    .northwest = NULL,
    .init = room_init,
    .draw = room_draw,
    .close = room_close
};